.star-text
  color: white
  font-size: 40px
  position: relative
  .line
    position: absolute
    height: 100%
    width: 1px
    background-color: #fff
    transform-origin: 0 50%

  .letter
    display: inline-block
    line-height: 1em

.star-quote
  margin-top: 55px
  font-size: 28px
  color: $gray
  .letter
    transform-origin: 50% 100%
    display: inline-block
    line-height: 1em

.canvas-wrapper
  overflow: hidden

.canvas-text-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 70%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
