#projects-wrapper
  color: $white

.top-offset
  margin-top: 250px
  h6
    font-size: 22px
    margin-bottom: 30px

.mywork-wrapper
  margin-bottom: 10px
  .row
    margin-left: 0
    margin-right: 0
