.red-wrapper-main
  background-color: $red
  width: 15px !important
  border-radius: 15px
  height: 4px
  margin-top: 4px

.red-wrapper
  color: $white !important

.red-wrapper-default
  color: $gray

.red-wrapper-text
  text-align: center

.big-font
  font-size: 22px
